#login-background {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../../../assets/images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#login-background main {
    min-height: 100vh;
}