#bookings-background {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../../assets/images/bookings.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#bookings-background main {
    min-height: 100vh;
}