#change-account-details-background {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../../../assets/images/change-account-details.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

#change-account-details-background main {
    min-height: 100vh;
}