#content-card {
    width: 90%;
    border: 0.5px solid gray;
    height: fit-content;
    box-shadow: 3px 3px 10px gray;
    background-color: white;
}

#content-card-heading {
    font: calc(1.2rem + 1.5vw);
}